<div class="heegih">
    <h2 class="text-center mt-4">PORTFOLIO COMPONENT</h2>
    <div class="d-flex flex-row gap-2  justify-content-center align-items-center">
        <div class="Before-i "></div>
        <i class="fa-solid fa-star "></i>
        <div class="Before-i "></div>
    </div>
    <div class="container mt-3">
        <div class="row g-4">
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="/assets/img/poert1.png" alt="port1" class="w-100">
                <div class="icon  position-absolute">
                    <i class=" fa-solid fa-plus fa-4x text-white"></i>
                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="/assets/img/port2.png" alt="port2" class="w-100">
                <div class="icon  position-absolute">
                    <i class=" fa-solid fa-plus fa-4x text-white"></i>
                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="/assets/img/port3.png" alt="port3" class="w-100">
                <div class="icon  position-absolute">
                    <i class=" fa-solid fa-plus fa-4x text-white"></i>
                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="/assets/img/poert1.png" alt="port1" class="w-100">
                <div class="icon  position-absolute">
                    <i class=" fa-solid fa-plus fa-4x text-white"></i>
                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="/assets/img/port2.png" alt="port2" class="w-100">
                <div class="icon  position-absolute">
                    <i class=" fa-solid fa-plus fa-4x text-white"></i>
                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden ">
                <img src="/assets/img/port3.png" alt="port3" class="w-100">
                <div class="icon  position-absolute">
                    <i class=" fa-solid fa-plus fa-4x text-white"></i>
                </div>
            </div>
        </div>
    
    </div>
       
</div>
