<h2 class="text-center mt-4">CONATCT SECTION</h2>
<div class="d-flex flex-row gap-2  justify-content-center align-items-center">
    <div class="Before-i "></div>
    <i class="fa-solid fa-star "></i>
    <div class="Before-i "></div>
</div>
<div class="container mt-5">
    <form>
        <div class="mb-3">
          <input type="text" class="form-control w-50 mx-auto border-0 border-bottom" placeholder="userName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mt-5">
          <input type="number" class="form-control w-50 mx-auto border-0 border-bottom" placeholder="userAge">
        </div>
        <div class="mb-3 mt-5 ">
            <input type="email" class="form-control w-50 mx-auto border-0 border-bottom" placeholder="userEmail">
        </div>
        <div class="mb-3 mt-5 ">
            <input type="password" class="form-control w-50 mx-auto border-0 border-bottom" placeholder="userPassword">
        </div>
        <div class="mb-3 mt-4 ">
            <button type="submit" class="btn btn-primary border-0">Send Messge</button>
        </div>
      </form>
</div>
