<div class="bgcolor d-flex justify-content-center gap-4 align-items-center flex-column">
    <img src="assets/img/avataaars.svg" alt="Avatar" >
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
        <h2 class="text-white">START FRAMEWORK</h2>
        <div class="d-flex flex-row justify-content-center align-items-center gap-2">
            <div class="Before-i "></div>
            <i class="fa-solid fa-star text-white "></i>
            <div class="Before-i "></div>
            
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
        
    </div>
</div>
